

.select__content{
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
}

.select__content__option{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(34, 34, 34, 1);

}