.img__contentGrid{
    display: flex;
    flex-direction: column;
    /* padding: 0.5rem; */
}

@media only screen and (min-width: 750px){
    .img__contentGrid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
}

.myPhotos__content__icon{
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    margin-top: 1rem;
}

.select__content{
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
}

.select__content__option{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(34, 34, 34, 1);

}