
@media only screen and (min-width: 750px){
    
    .img__contentImage{
        padding: 0;
    }

    
}

.img__contentImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding-bottom: 0.5rem; */
}

.img__contentIcons{
    background:  rgba(77, 77, 77, 0.69);
    color:   rgba(217, 217, 217, 1);
    transform: translateY(-32px);
}


.img__contentIcons__star{
    margin-right: 1rem;
    margin-left: 1rem;
}

.img__contentIcons__star:hover{
    cursor: pointer;
color: white;
}

.img__contentIcons__download:hover{
cursor: pointer;
color: white;
}

.img__contentIcons__delete{
    margin-left: 1rem;
}

.img__contentIcons__edit{
    margin-left: 1rem;
}

.img__contentIcons__delete:hover{
    cursor: pointer;
    color: white;
}

.img__contentIcons__edit:hover{
    cursor: pointer;
    color: white;
}