.popup {
    position: fixed;
    height: 60vh;
    width: 90%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.855);
    z-index: 1;
    border-radius: 1rem;
    padding: 1em;
}

.popupInput{
    width: 75%;
    height: 6rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 3rem;
}

.popupButton{
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    background-color:  rgba(77, 77, 77, 0.69);
    color: white;
}

.popupButton:hover{
    cursor: pointer;
    background-color:  rgba(63, 63, 63, 0.69);
}

.content__popup__icon {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}

.content__popup__icons {
    text-align: center;
}

.close {
    margin-left: 1rem;
    margin-top: 1rem;
}


.close:hover {
    cursor: pointer;
}